/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#see_more p, #see_more a {
  font-weight: 500;
}

#see_more p a {
  border-width: 3px;
}

#logo_nav {
  margin-top: 0;
}

#footer_custom {
  text-align: center;
  vertical-align: top;
}

#footer_about_us {
  display: inline-block;
  width: 30%;
}
